html {
    overflow-y: scroll; 
    scrollbar-base-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-arrow-color: #555;
    scrollbar-darkshadow-color: #000;
    scrollbar-face-color: #222;
    scrollbar-highlight-color: #000;
    scrollbar-shadow-color: #000;
    scrollbar-track-color: #000;
}
      
body {
    scrollbar-base-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-arrow-color: #555;
    scrollbar-darkshadow-color: #fff;
    scrollbar-face-color: #bbb;
    scrollbar-highlight-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-track-color: #fff;
}

*::-webkit-scrollbar { background: transparent; width: 13px; height: 13px; }
*::-webkit-scrollbar-button { display: none; }
*::-webkit-scrollbar-track { background: black; }
*::-webkit-scrollbar-track-piece { background: transparent; }
*::-webkit-scrollbar-thumb { background: #222; border: black solid 2px; border-radius: 7px; }
*::-webkit-scrollbar-corner { display: none; }
*::-webkit-resizer { display: none; }
body *::-webkit-scrollbar-track { background: transparent; }
body *::-webkit-scrollbar-thumb { border-color: white; background: #cccccc; border: }
body *:hover::-webkit-scrollbar-thumb { background: #aaaaaa; }

html, body { background: black; outline: 10px black solid; }

div.content {

	color: black;
	background: white;
				
	max-width: 615px;
	padding: 80px;
	margin-top: 40px;
	margin-bottom: 40px;
				
	text-align: justify;
				
	font-size: 12pt;
	font-family: "Candara", "Trebuchet MS", sans-serif;
				
}

div.content.compressed {
    padding-top: 40px;
    padding-bottom: 40px;
}
			
h1, h2 { margin: 0px; padding: 0px; text-align: left; }
h2 { margin-top: 60px; }

p.intro {
    color: #d00; font-weight: bold;
    font-family: "Segoe UI", "Tahoma", sans-serif;
}

div.content.compressed p.intro {
    font-weight: normal; color: inherit;
    font-family: "Candara", "Trebuchet MS", sans-serif;
}
      
pre, code { 
    font-family: "Consolas", monospace;
    font-size: 10pt;
}
pre {
    padding-left: 50px;
}

strong {
    color: #00A; font-weight: inherit;
}
      
a {
    color: inherit;
    text-decoration: none;
    background: rgba(0,0,0,0.05);
}

a.bluelink {
    color: #0094ff;
    background: transparent;
}

h1 a, a[href^="http://fremycompany.com/BG/DATA/image"] {
    background: transparent;
}
      
a:hover {
    color: red;
    background: rgba(255,0,0,0.05);
} 

a[href^="http://fremycompany.com/BG/DATA/image"]:hover {
    background: transparent; opacity: 0.7;
}
      
#comment-div pre {
    white-space: pre-wrap;
    font-family: "Segoe UI", "Tahoma", sans-serif;
    font-size: 10pt; color: #00e;
}
      
#comment-div pre::first-line {
    font-weight: bold; color: #00f;
}
      
#comment-div pre:nth-of-type(2n+0) {
    color: #d00;
}
      
#comment-div pre:nth-of-type(2n+0)::first-line {
    font-weight: bold; color: #e00;
}
      
#comment-form-div label {
    display: block;
    background: #eee;
    margin-top: 15px;
}
      
#comment-form-div label > input, #comment-form-div label > textarea {
    display: block; width:100%; box-sizing: border-box;
    background: #f5f5f5;
    border: none;
        
    scrollbar-base-color: #f5f5f5;
    scrollbar-3dlight-color: #f5f5f5;
    scrollbar-arrow-color: #555;
    scrollbar-darkshadow-color: #f5f5f5;
    scrollbar-face-color: #ddd;
    scrollbar-highlight-color: #f5f5f5;
    scrollbar-shadow-color: #f5f5f5;
    scrollbar-track-color: #f5f5f5;
        
    font-family: "Segoe UI", "Tahoma", sans-serif;
    font-size: 10pt; color: #00e;
}
      
#comment-form-div input[type=submit] {
    margin-top: 15px;
    background: #777; color: white;
    border: #777 solid 3px;
}
      
#comment-form-div input[type=submit]:hover,
#comment-form-div input[type=submit]:focus {
    background: green; color: white;
    border: green solid 3px;
}
			