/*MAIN */

body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.some-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.some-area > p {
    margin: 20px 70px;
    font-family: Courier New, Courier, monospace;
    font-size: 1.2em;
}


/*SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sidebox {
    border: 1px #330099 solid;
    margin: 30px;
    padding: 5px 10px;
    text-align: center;
    flex-wrap: wrap;
}

section ol {
    text-align: left;
}

section ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: darkorange;
}

/*RIGHT*/
.right {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

/*LEFT */

.left{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


/*Footer */

.footer {
    display: flex;
    font-size: .7rem;
    flex-direction: column;
    align-items: center;
}

.footer ul li {
    padding: 0 50px;
}