/*ALL ABOUT THE GRIDS */
/*STEP 1: To make main and sidebar next to each other, just need to float both and apply individual widths*/

[class*='col-'] { /*this syntax grabs all class's that start with 'col-'*/ 
    float: left;

	padding: 20px; /*we want to apply a right padding to all the elements except for the last one*/
}


/*STEP 5a: remove padding on last elemenet IFF you don't want outside gutters 
[class*='col-']:last-of-type { 
    padding-right: 0px; 
}
*/

/*STEP 5b: KEEP padding on last element IFF you do want outside gutters */

/*STEP 2: When we set a width, that element stays that width no matter the padding or borders applied */
.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

/*STEP 3: the parent 'grid' element will collapse to height 0 since it has only floating children; so fix it as follows: */

.grid {
    display: grid;
	flex-flow: row wrap;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}






/*STEP 4: Now we're ready to use 'gutters' (a design principle meant to provide whitespace between columns, making content more legible), 
using fixed pixel size instead of percentages to avoid complicated math */

/*box-sizing: border-box <--can use this on almost anything */

*, *:after, *:before {
    -webkit-box-sizing: border-box; /*webkit and moz are to support different browsers */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*STEP 6: Create "outside gutters" ie white space on the borders between columns and frame -- add second class: 'grid pad' to original grid div*/
.grid-pad { /*add outside left padding to grid parent, and optionally left and right padding too */
    padding: 50px 0px 50px 50px; /*trlb */

}


/*FORM */
#form {
	padding-top: 10px;
    display: inline-block;
}

form > h3{
	text-align: center;
}

legend { 
	font-family: Cochin;
	font-size: 15px;
	border: 1px gradient orange;
	border-radius: gradient;
}



/*SIDEBAR*/

.col-1-3 {
	float: left;
	background: #d4d6d3;
	border: 1px solid #BEBDBD;		
	padding: 20px ;
	
	
}

.col-1-3 h3 {
    font-size: 24px;
    color: #044055;
    font-weight: normal;
	padding-left: 15px;
	text-align: center;
	font-weight: bolder;
	line-height: 150%;
}

.col-1-3 ul, ol {
    font-size: 14px;
    color: #393838; 

}
.col-1-3 ul{
	text-align: center;
	list-style: none;
	padding-bottom: 25px;
	padding-left: 0px;
	line-height: 150%;
}

.col-1-3 h2 {
	font-size: 16px;
	text-align: center;
	color: #393838; 
}


#pitch ol li{
	text-align: left;
	padding-top: 0px;
}


#emphasis{
	font-size: 18px;
}



