/*inherited all other elements from style.css */

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: "menu menu menu menu" "title title title title" "elem1 elem2 elem3 elem4" "elem5 elem6 elem7 elem8" "elem9 elem9 elem9 elem9" "footer footer footer footer";
    /* color: #444;*/
    grid-gap: 50px;
    /*grid-row: auto;*/
    /*width: 100%;*/
    padding-left: -8px;
    padding-right:-8px;
}

.subtitle {
    grid-area: subtitle;
}

h2,
h3 {
    text-align: center;
}

.box {
    z-index: 30;
}

.subtitle {
    font-size: 30px;
    font-style: italic;
}


/*.gutter {
    margin-left: 50px;
    margin-right: 40px;
}*/