/*this drastically changes the layout. You are no longer just some  div's sitting on top of each other, 
taking up space. The section selector is nowa flex parent, 
so all of its immediate children (the div's) are flex children, so they by default sit along on one row, 
side by side left to right'*/


/* TRY USING CRID INSTEAD OF FLEX BOX FOR CONTACT PAGE: http://gridbyexample.com/examples/ */

.fill-height-or-more {
    /*the container we're working with */
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*try removing this line to see how the blocks flip down as columns (stacked on top of each other), instead of rows (the default)*/
    /*Now we want to fill the height, so that the container is as tall as it needs to be to cover the entire space...
    see below that we made html and body height=100%...at least the body is the whole white block. 
    Now we want the container we're working with to be at least that big.'*/
    /*or change this to row and see what happens */
}

.fill-height-or-more div {
    /*flex children */
    flex: 1;
    /*this means take up one equal portion for you */
    display: flex;
    /*you can have a child be a flex parent itself, so that div's in it are also flex items */
    justify-content: center;
    /*or space around */
    flex-direction: row;
    /*what's going to happen: everything is going to center inside the box left to right;
    this is kinda weird since the flex-direction is default row (left to right); so change flex-direction to column (up and down)*/
}

.some-area div {
    margin: 20px 10px;
    padding: 0;
    flex-basis: 27%;
}


/*background color of each text box */

.some-area div div {
    background: #008900;
    background: hsla(200, 75%, 90%, 1);
    border: 2px blueviolet solid;
}

.blackBar {
    height: 170px;
}


/*this makes navigation bar thicker at top
html {
    box-sizing: border-box;
}
*/


/* the '* is known to be slow so I took it out 
*,
*:before,
*:after {
    box-sizing: inherit;
}
*/