                /*CSS Setup -- nothing to do with flexbox */
                
                html {
                    box-sizing: border-box;
                }
                
                *,
                *:before,
                *:after {
                    box-sizing: ihnerit;
                }
                
                .logo {
                    background: url(../images/python_8-3.jpg) top no-repeat, url(../images/grayLogo.jpg) left top no-repeat;
                }
                
                body {
                    font-family: sans-serif;
                    margin: 0;
                    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
                }
                
                a {
                    color: white;
                    font-weight: 100;
                    letter-spacing: 2px;
                    text-decoration: none;
                    background: rgba(0, 0, 0, 0.2);
                    padding: 20px 5px;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    transition: all 0.5s;
                }
                
                h1 {
                    text-align: center;
                    color: white;
                    font-size: 40px;
                }
                
                a:hover {
                    background: rgba(0, 0, 0, 0.3);
                }
                /*constrain the width of the navigation with a wrapper */
                
                .wrapper {
                    max-width: 1000px;
                    margin: 0 auto;
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                }
                
                .wrapper > * {
                    flex: 9999;
                }
                /*don't display Dropdown Menu when full screen */
                
                .toggleNav {
                    display: none;
                }
                /*this keeps image the same width as the wrapper */
                
                img {
                    width: 100%;
                }
                
                input {
                    padding: 10px;
                    border: 0;
                }
                
                section,
                footer {
                    text-align: center;
                    background: rgba(0, 0, 0, 0.2);
                    padding: 20px;
                    margin: 20px 0;
                    color: white;
                    font-weight: 100;
                }
                
                .about {
                    text-align: left;
                }
                
                .details {
                    font-family: sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                }
                /*Flex Container*/
                
                .flex-nav ul {
                    border: 1px solid black;
                    /*list-style is what makes the list items merge together as one clump */
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    /*display:flex is what makes the items go left to right since default flex-direction is row*/
                    /*they'll take exact as much room as needed...so need to fill out the extra space */
                    display: flex;
                }
                /*to take care of extra space make each item 'li' fill the extra space evenly */
                
                .flex-nav li {
                    /*flex:1 sets flex grow (too much space) and flex shrink (not enough space) */
                    flex: 3;
                }
                
                .flex-nav .social {
                    flex: 1;
                }
                /*now want to talk about mobile */
                /*once we hit 1000px (small) we want our social icons to be under the main elem */
                /* to do this we need to turn on our wrapper */
                /*Flex Item Ordering */
                
                .flex-nav {
                    order: 1;
                }
                
                .top {
                    order: 2;
                }
                
                .femtech {
                    order: 3;
                }
                
                .details {
                    order: 4;
                }
                
                .about {
                    order: 5;
                }
                
                .signup {
                    order: 6;
                }
                
                footer {
                    font-size: 2;
                    order: 999;
                    background: none;
                }
                
                @media all and (max-width: 1000px) {
                    .flex-nav ul {
                        /*don't wnat flex-direction column since will all stack */
                        /*flex-direction: column;*/
                        flex-wrap: wrap;
                        /*flex wrap won't work without some height. Do this with flex-basis property */
                    }
                    .flex-nav li {
                        /*grow shrink baseline */
                        /*baseline 50% means will be 50% widened, so will stack in two columns */
                        /*problem here is that social ones are squished to the right. Why? Open up inspect and see that this flex: 1 1 50% is being overwritdden by flex-nav .social {flex:1}; */
                        flex: 1 1 50%;
                    }
                    /*need to specify a flex basis on that .social case */
                    .flex-nav .social {
                        flex: 1 1 25%;
                    }
                }
                /*new conditions when screen is really smushed */
                
                @media all and (max-width: 500px) {
                    .flex-nav li {
                        flex-basis: 100%;
                        /*this makes them all stack */
                    }
                    /*Flex Container */
                    .wrapper {
                        display: flex;
                        /*nothing changes at first, but when hit 500px breakpoint everything breaks */
                        /*need to change flex-directioN! */
                        flex-direction: column;
                    }
                    /*Flex item */
                    .wrapper > * {
                        /*just needs to be > 1 */
                        order: 9999;
                    }
                    .flex-nav {
                        /*making it 1 sends nav to the end, because by default the order for everything is 0 */
                        /*so need to set the default order for everything else */
                        order: 1;
                    }
                    /*display the Menu toggleNav */
                    .toggleNav {
                        display: block;
                    }
                    .flex-nav ul {
                        display: none;
                    }
                    /*jQuery toggle or slideToggle turns the flex container to display:block but we need display:flex */
                    .flex-nav ul.open {
                        display: flex;
                    }
                    /*reorder when screen is small */
                    .top {
                        order: 2;
                    }
                    .details {
                        order: 3;
                    }
                    .about {
                        order: 4;
                    }
                    .signup {
                        order: 5;
                    }
                    /*the photo and footer will naturally be 5 and 6 because that's the order they appear in in the html */
                }