/*setup */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: ihnerit;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}


/*from flexMain */

.flex-nav a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}


/*constrain the width of the navigation with a wrapper */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.wrapper > * {
    flex: 9999;
}


/*Flex Container*/

.flex-nav ul {
    /*border: 1px solid black;*/
    /*list-style is what makes the list items merge together as one clump */
    list-style: none;
    margin: 0;
    padding: 0;
    /*display:flex is what makes the items go left to right since default flex-direction is row*/
    /*they'll take exact as much room as needed...so need to fill out the extra space */
    display: flex;
}


/*to take care of extra space make each item 'li' fill the extra space evenly */

.flex-nav li {
    /*flex:1 sets flex grow (too much space) and flex shrink (not enough space) */
    flex: 3;
}

.flex-nav .social {
    flex: 1;
}


/*don't display toggleNav when main screen */

.toggleNav {
    display: none;
}


/*now want to talk about mobile */


/*once we hit 1000px (small) we want our social icons to be under the main elem */


/* to do this we need to turn on our wrapper */


/*Flex Item Ordering */

.flex-nav {
    order: 1;
}

.top {
    order: 2;
}

.lesson {
    order: 3
}

input {
    padding: 10px;
    border: 0;
}


/* Style */

.resources {
    font-size: 23px;
    text-decoration: bold;
}

a {
    color: purple;
}

ul li {
    list-style: none;
}

ol li {
    padding: 10px;
}


/*NEW from cs61c: Style for terminal code*/

li {
    line-height: 135%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*body {
    font-family: sans-serif;
    font-size: 20px;
}*/

.exercise {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(darkgrey), to(lightgrey));
    background-image: -webkit-linear-gradient(top, darkgrey, lightgrey);
    background-image: -moz-linear-gradient(top, darkgrey, lightgrey);
    background-image: linear-gradient(to bottom, darkgrey, lightgrey);*/
    border: 3px black solid;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-transform: uppercase;
}

p {
    padding: 10px;
}

.heading {
    font-size: 40px;
    text-decoration: bold;
    text-decoration: uppercase;
    text-align: center;
    padding: 20px;
}

.subtitle {
    font-size: 30px;
    text-decoration: underline;
    padding: 5px;
}

pre {
    background: #cdc;
    border: 1px dotted #aba;
    margin: 0;
    padding: 10px;
}

.input {
    font-family: monospace;
    color: #004080;
    font-weight: bold;
}

.output {
    font-family: monospace;
    color: #800080
}

code {
    white-space: nowrap;
    font-size: 1.1em;
}

div.checkoff {
    /*background: #eeeee0;*/
    background: #eeeee1;
    /*padding: 0.5em 1.5em 0.5em 1.5em;*/
    border-radius: 1em;
    border: 1px solid #ddd;
    padding: 20px;
}

.emphasis {
    font-weight: 75;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question {
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
    /*padding: 30px;*/
    border: 1px black solid;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.flex-nav a {
    font-size: 20px;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

.lesson {
    background: rgba(238, 238, 238, 1);
    padding: 50px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    line-height: 135%;
}


/*for lab2 color theory */

.red {
    color: #FF0000;
}

.green {
    color: #00FF00;
}

.blue {
    color: #0000FF;
}

.hslRed {
    color: #FF0000;
}

.hslGreen {
    color: #00FF00;
}

.hslBlue {
    color: #0000FF;
}


/*shades of red */

.hsla0 {
    color: hsla(0, 100%, 50%, 0);
}

.hsla1 {
    color: hsla(0, 100%, 50%, .1);
}

.hsla2 {
    color: hsla(0, 100%, 50%, .2);
}

.hsla3 {
    color: hsla(0, 100%, 50%, .3);
}

.hsla4 {
    color: hsla(0, 100%, 50%, .4);
}

.hsla5 {
    color: hsla(0, 100%, 50%, .5);
}

.hsla6 {
    color: hsla(0, 100%, 50%, .6);
}

.hsla7 {
    color: hsla(0, 100%, 50%, .7);
}

.hsla8 {
    color: hsla(0, 100%, 50%, .8);
}

.hsla9 {
    color: hsla(0, 100%, 50%, .9);
}

.hsla10 {
    color: hsla(0, 100%, 50%, 1);
}


/*for green example */

.hslag0 {
    background-color: hsla(120, 100%, 50%, 0);
}

.hslag1 {
    background-color: hsla(120, 100%, 50%, .1);
}

.hslag2 {
    background-color: hsla(120, 100%, 50%, .2);
}

.hslag3 {
    background-color: hsla(120, 100%, 50%, .3);
}

.hslag4 {
    background-color: hsla(120, 100%, 50%, .4);
}

.hslag5 {
    background-color: hsla(120, 100%, 50%, .5);
}

.hslag6 {
    background-color: hsla(120, 100%, 50%, .6);
}

.hslag7 {
    background-color: hsla(120, 100%, 50%, .7);
}

.hslag8 {
    background-color: hsla(120, 100%, 50%, .8);
}

.hslag9 {
    background-color: hsla(120, 100%, 50%, .9);
}

.hslag10 {
    background-color: hsla(120, 100%, 50%, 1);
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        /*don't wnat flex-direction column since will all stack */
        /*flex-direction: column;*/
        flex-wrap: wrap;
        /*flex wrap won't work without some height. Do this with flex-basis property */
    }
    .flex-nav li {
        /*grow shrink baseline */
        /*baseline 50% means will be 50% widened, so will stack in two columns */
        /*problem here is that social ones are squished to the right. Why? Open up inspect and see that this flex: 1 1 50% is being overwritdden by flex-nav .social {flex:1}; */
        flex: 1 1 50%;
    }
    /*need to specify a flex basis on that .social case */
    .flex-nav .social {
        flex: 1 1 15%;
    }
}


/*new conditions when screen is really smushed */

@media all and (max-width: 500px) {
    .flex-nav li {
        flex-basis: 100%;
        /*this makes them all stack */
    }
    /*Flex Container */
    .wrapper {
        display: flex;
        /*nothing changes at first, but when hit 500px breakpoint everything breaks */
        /*need to change flex-directioN! */
        flex-direction: column;
    }
    /*Flex item */
    .wrapper > * {
        /*just needs to be > 1 */
        order: 9999;
    }
    .flex-nav {
        /*making it 1 sends nav to the end, because by default the order for everything is 0 */
        /*so need to set the default order for everything else */
        order: 1;
    }
    /*display the Menu toggleNav */
    .toggleNav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    /*jQuery toggle or slideToggle turns the flex container to display:block but we need display:flex */
    .flex-nav ul.open {
        display: flex;
    }
    /*reorder when screen is small */
    .top {
        order: 2;
    }
    .lesson {
        order: 3;
    }
    
}