/*******************
PAGE SET UP 
*******************/

body,
html,
wrapper,
section {
    /*height: 100%;*/
    margin: 0;
}

body {
    font-family: 'Helvetica', 'sans serif';
    margin: 0;
    background-color: indigo;
}

html {
    box-sizing: border-box;
}

div {
    display: block;
}


/**,
*:before,
*:after {
    box-sizing: inherit;
}*/


/********************
IMAGES 
************************/

img {
    opacity: 0.8;
}


/*******************
Navigation Bar
*******************/

.flex-nav > ul > li > a:hover {
    /*background: rgba(1, 1, 2, .5);*/
    background: rgba(127, 63, 191, .5);
}

h1 {
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: Berkshire Swash, cursive;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.flex-nav > ul > li > a {
    color: white;
    font-weight: 100;
    text-decoration: none;
    padding: 20px 1px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    font-size: 30px;
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.2);
}


/*constrain the width of the navigation with a wrapper */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.wrapper > * {
    flex: 9999;
}


/*Flex Container*/

.flex-nav ul {
    /*list-style is what makes the list items merge together as one clump */
    list-style: none;
    margin: 0;
    padding: 0;
    /*display:flex is what makes the items go left to right since default flex-direction is row*/
    /*they'll take exact as much room as needed...so need to fill out the extra space */
    display: flex;
}


/*to take care of extra space make each item 'li' fill the extra space evenly */

.flex-nav li {
    /*flex:1 sets flex grow (too much space) and flex shrink (not enough space) */
    flex: 3;
}

.flex-nav .social {
    flex: 1;
}


/*don't display toggleNav when main screen */

.toggleNav {
    display: none;
}


/*this keeps image the same width as the wrapper */

img {
    width: 100%;
}


/*******************
GENERAL ORDER 
*********************/

.logo {
    order: 0;
}

.flex-nav {
    order: 1;
}

.top {
    order: 2;
}

footer {
    order: 9999;
}


/***************
GENERAL FOOTER 
***************/

section,
footer {
    text-align: center;
    /*background: rgba(0, 0, 0, 0.2);*/
    padding: 20px;
    margin: 20px 0;
    color: white;
    font-weight: 100;
}


/********************
MOBILE RESPONSIVE LAYOUT 
***********************/


/*once we hit 1000px (small) we want our social icons to be under the main elem */


/* to do this we need to turn on our wrapper.  */

@media all and (max-width: 1000px) {
    .flex-nav ul {
        /*don't wnat flex-direction column since will all stack */
        /*flex-direction: column;*/
        flex-wrap: wrap;
        /*flex wrap won't work without some height. Do this with flex-basis property */
    }
    .flex-nav li {
        /*grow shrink baseline */
        /*baseline 50% means will be 50% widened, so will stack in two columns */
        /*problem here is that social ones are squished to the right. Why? Open up inspect and see that this flex: 1 1 50% is being overwritdden by flex-nav .social {flex:1}; */
        flex: 1 1 25%;
    }
    /*need to specify a flex basis on that .social case */
    .flex-nav .social {
        flex: 1 1 5%;
    }
}


/*new conditions when screen is really smushed */

@media all and (max-width: 500px) {
    .flex-nav li {
        flex-basis: 100%;
        /*this makes them all stack */
    }
    /*Flex Container */
    .wrapper {
        display: flex;
        /*nothing changes at first, but when hit 500px breakpoint everything breaks */
        /*need to change flex-directioN! */
        flex-direction: column;
    }
    /*Flex item */
    .wrapper > * {
        /*just needs to be > 1 */
        order: 9999;
    }
    /*display the Menu toggleNav */
    .toggleNav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    /*jQuery toggle or slideToggle turns the flex container to display:block but we need display:flex */
    .flex-nav ul.open {
        display: flex;
    }
    /*reorder when screen is small */
    .flex-nav {
        /*making it 1 sends nav to the end, because by default the order for everything is 0 */
        /*so need to set the default order for everything else */
        order: 1;
    }
    .group {
        order: 2;
    }
    .top {
        order: 3;
    }
    .details {
        order: 4;
    }
    .about {
        order: 5;
    }
    /*.signup {
        order: 5;
    }*/
    /*the photo and footer will naturally be 5 and 6 because that's the order they appear in in the html */
}