body {
    background: url("../images/colored_pencils.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info {
    background: rgba(127, 63, 191, .5);
    border-radius: 50%;
    margin: 60px;
    padding: 50px;
}

.info a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
}

h3 {
    text-align: center;
    font-style: italic;
}

footer {
    color: rgba(127, 63, 191, 1);
}


/*******************
ORDER 
*******************/

.info {
    order: 90;
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        /*don't wnat flex-direction column since will all stack */
        /*flex-direction: column;*/
        flex-wrap: wrap;
        /*flex wrap won't work without some height. Do this with flex-basis property */
    }
    .flex-nav li {
        /*grow shrink baseline */
        /*baseline 50% means will be 50% widened, so will stack in two columns */
        /*problem here is that social ones are squished to the right. Why? Open up inspect and see that this flex: 1 1 50% is being overwritdden by flex-nav .social {flex:1}; */
        flex: 1 1 30%;
    }
    /*need to specify a flex basis on that .social case */
    .flex-nav .social {
        flex: 1 1 15%;
    }
    .flex-nav > ul > li > a {
        padding: 8px 1px;
    }
}


/*new conditions when screen is really smushed */

@media all and (max-width: 500px) {
    .flex-nav li {
        flex-basis: 100%;
        /*this makes them all stack */
    }
    /*Flex Container */
    .wrapper {
        display: flex;
        /*nothing changes at first, but when hit 500px breakpoint everything breaks */
        /*need to change flex-directioN! */
        flex-direction: column;
    }
    /*Flex item */
    .wrapper > * {
        /*just needs to be > 1 */
        order: 9999;
    }
    /*display the Menu toggleNav */
    .flex-nav .toggleNav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    /*jQuery toggle or slideToggle turns the flex container to display:block but we need display:flex */
    .flex-nav ul.open {
        display: flex;
    }
    /*reorder when screen is small */
    .flex-nav {
        /*making it 1 sends nav to the end, because by default the order for everything is 0 */
        /*so need to set the default order for everything else */
        order: 1;
    }
    .logo {
        order: 2;
    }
    .top {
        order: 3;
    }
    .lesson {
        order: 4;
    }
}


/*don't display toggleNav when main screen */

.flex-nav .toggleNav {
    display: none;
}