body {
    /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
    /*background-image: url("../images/glasses_laptop.jpg");
    position: absolute;*/
    background: url("../images/glasses_laptop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*,
::after,
::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


/*********************
TABLE 
***********************/

table {
    order: 99;
    /*border: 3px solid black;
    border-radius: 4px;*/
    background: rgba(127, 63, 191, .5);
}

a,
table > * {
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: center;
}

th {
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.4);
    color: white;
}

a:hover,
.hw_link:hover {
    text-decoration: none;
    background-color: red;
    opacity: .5;
    display: block;
    color: white;
    padding: 0;
}

.homework {
    text-align: left;
}

td > a,
.hw_link {
    /*text-align: left;*/
    display: inline;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0;
    font-style: italic;
}

.hw_link::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
}

.list-unstyled {
    list-style: none;
}


/******ALTERNATING TABLE COLORS ***********/


/*tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
}*/


/*
tr:nth-child(even) td {
    color: indigo;
}

tr:nth-child(even) td > a {
    color: indigo;
}*/


/*tr:nth-child(odd) {
    background-color: rgba(30, 30, 30, 0.2);
}

table > tr > td > a {
    background: rgba(0, 0, 0, 0);
}*/


/***************************
SCHEDULE ORDER 
*************************/

.table-responsive {
    order: 10;
}

.toggleNav {
    display: none;
}


/***************************
 MOBILE RESPONSIVE TABLE
***********************/

@media all and (max-width: 1000px) {
    .flex-nav ul {
        /*don't wnat flex-direction column since will all stack */
        /*flex-direction: column;*/
        flex-wrap: wrap;
        /*flex wrap won't work without some height. Do this with flex-basis property */
    }
    .flex-nav li {
        /*grow shrink baseline */
        /*baseline 50% means will be 50% widened, so will stack in two columns */
        /*problem here is that social ones are squished to the right. Why? Open up inspect and see that this flex: 1 1 50% is being overwritdden by flex-nav .social {flex:1}; */
        flex: 1 1 30%;
    }
    /*need to specify a flex basis on that .social case */
    .flex-nav .social {
        flex: 1 1 15%;
    }
    .flex-nav > ul > li > a {
        padding: 8px 1px;
    }
}


/*new conditions when screen is really smushed */

@media all and (max-width: 810px) {
    .table {
        display: flex;
        flex-direction: column;
    }
    .td {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .flex-nav li {
        flex-basis: 100%;
        /*this makes them all stack */
    }
    /*Flex Container */
    .wrapper {
        display: flex;
        /*nothing changes at first, but when hit 500px breakpoint everything breaks */
        /*need to change flex-directioN! */
        flex-direction: column;
    }
    /*Flex item */
    .wrapper > * {
        /*just needs to be > 1 */
        order: 9999;
    }
    /*display the Menu toggleNav */
    .toggleNav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    /*jQuery toggle or slideToggle turns the flex container to display:block but we need display:flex */
    .flex-nav ul.open {
        display: flex;
    }
    /*reorder when screen is small */
    .flex-nav {
        /*making it 1 sends nav to the end, because by default the order for everything is 0 */
        /*so need to set the default order for everything else */
        order: 1;
    }
    .logo {
        order: 2;
    }
    .top {
        order: 3;
    }
    .table-responsive {
        order: 4;
    }
}