/*NEED TO FIX STYLE OF LINKS/NAV BAR*/


/*inherit rest from style.css and layout.css*/

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: "menu menu menu menu " ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." "footer footer footer footer";
    grid-gap: 50px;
    /*grid-row: auto;*/
    /*width: 100%;*/
}

.scroll {
    grid-area: scroll;
    /*border: dashed 3px blue;*/
    padding: 50px;
}


/* STYLE */

.titles {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    border: 1px solid;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 130%;
}

ul li {
    list-style: circle;
}


/*remove bullets from menu bar */

nav ul li {
    list-style: none;
}

p {
    line-height: 10px;
}

a:link {
    color: black;
    text-decoration: bold;
    text-transform: uppercase;
}

a:hover {
    background-color: purple;
}