/*inherit rest from style.css*/

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: "menu menu menu menu " ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." ". scroll scroll ." "footer footer footer footer";
    /* color: #444;*/
    grid-gap: 50px;
    /*grid-row: auto;*/
    /*width: 100%;*/
}

.scroll {
    grid-area: scroll;
    border: dashed 3px blue;
    padding: 50px;
}


/* style */

.titles {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    border: 1px solid;
    background-color: #4CAF50;
    font-weight: bold;
    color: navajowhite;
    padding: 10px;
}

ul li {
    list-style: circle;
}

nav ul li {
    list-style: none;
}

p {
    line-height: 5px;
}