        /*box sizing reset: https://css-tricks.com/box-sizing/ */
        /*PRACTICING THE GRID */
        
        .wrapper {
            display: grid;
            grid-template-columns: 300px 300px 300px 300px;
            grid-template-areas: "menu menu menu menu " "content content content content " "table table table table " "table table table table" "footer footer footer footer";
            /* color: #444;*/
            grid-column-gap: 40px;
            grid-row-gap: 0px;
            /*grid-row: auto;*/
            /*width: 100%;*/
        }
        /*GRID AREAS*/
        
        .table {
            grid-area: table;
            margin: 70px;
        }
        
        .content {
            grid-area: content;
            /*text-align: center;*/
        }
        /*STYLING */
        
        table {
            margin: 130px 20px 20px 20px;
        }
        
        tr {
            text-align: left;
        }
        
        th {
            text-transform: uppercase;
            text-align: center;
            background-color: blue;
            color: white;
        }
        
        td {
            padding: 20px;
        }
        /*striped cells */
        
        tr:nth-child(even) {
            background-color: lightgrey;
        }